<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- 기본 셋팅 상속 -->
  <%- include('basic-set')%>
  <link href="/public/login.css" rel="stylesheet">
</head>

<body>
  <div id="login">
    <div>
      <h2 class="info-Container">Login</h2><br>
    </div>

    <form action="/login" method="POST" name="loginFrm">
      <div id="loginFrm-container">
        <div class="mb-3" id="id-container">
          <label for="userId" class="form-label">ID</label>
          <input type="text" class="form-control" id="userId" name="userId">
        </div>
        <div class="mb-3" id="pw-container">
          <label for="userPw" class="form-label">Password</label>
          <input type="password" class="form-control" id="userPw" name="userPw">
        </div>
        <div id="btn-container">
          <button type="submit" class="btn btn-primary" id="loginSubmit">로그인</button>
          <button type="button" class="btn btn-primary" onclick="location.href='join'">회원가입</button>
        </div>
      </div>
    </form>
    <% if(state.error !=null) { %>
      <div style="margin-top: 15px;" class="alert alert-danger" role="alert">
        <%= state.error %>
      </div>
      <% } %>
  </div>

  <script>
    var timer = 3;
    var loginfail = setInterval(function () {
      timer -= 1;
      if (timer > 0) {
        $('.alert').css('visibility', 'visible');
      } else if (timer < 0) {
        $('.alert').css('visibility', 'hidden');
      }
    }, 1000)
  </script>
</body>

</html>